version: 1.0.{build}

branches:
  only:
    - master

skip_tags: true

image: Visual Studio 2019
platform: Any CPU
configuration: Release

before_build:
  - nuget restore

dotnet_csproj:
  patch: true
  file: '**\tailp.csproj'
  version: '{version}'
  version_prefix: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

after_build:
    7z a tailp.zip %APPVEYOR_BUILD_FOLDER%\tailp\bin\Release\tailp.exe

artifacts:
  path: tailp.zip

cache:
  - '%LocalAppData%\NuGet\v3-cache' # NuGet v3