version: 1.0.{build}

branches:
  only:
    - master

skip_tags: true

os: Visual Studio 2017
platform: Any CPU
configuration: Release

before_build:
  - nuget restore

assembly_info:
  patch: true
  file: AssemblyInfo.cs
  assembly_version: $(appveyor_build_version)
  assembly_file_version: $(appveyor_build_version)

artifacts:
  - path: tailp\bin\$(configuration)\tailp.exe
    name: tailp
